@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

*,
*::before,
*::after {
    margin:0;
    padding: 0;
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ddd;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    color: $back;
    font-family: $font;
    font-weight: normal;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}